<div>
    
    <p>
        <%= link_to image_tag("logo.png", size: '60x60' , :alt => 'home'), root_path%>
    </p>
    <p>
        <%= link_to image_tag("home.png", :alt => 'home'), root_path%>
    </p>
    <p>
        <%= image_tag("exploer.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("notification.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("message.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("bookmark.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("lists.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("people.png", :alt => 'home') %>
    </p>
    <p>
        <%= image_tag("more.png", :alt => 'home') %>
    </p>
    <p class="margin_r">
        <%= link_to image_tag("tweet.png", :alt => 'tweet'), new_tweet_path%>
    </p>
</div>
