<title>
    test-Tweet
</title>
<h1>HOME</h1>
    <div>
        <p>
            <%= link_to 'Tweet', controller: 'tweets', action: 'new' %>
        </p>
    </div>
    
    <div>
        <div>
            <% @tweets.each do |tweet| %>
            
            <div class="style1">
                <%= tweet.message %>
                <div class="style1">
                    <%= image_tag "/get_image/#{tweet.id}",class: "image_size1" %>
                </div>
                    
                <%= link_to '詳細', "/tweets/#{tweet.id}" %>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
                <%= link_to '編集', "/tweets/#{tweet.id}/edit"%>
            
                <% tweet_time = (Time.current - tweet.tdate).to_i %>
                <% tweet_time_m = (tweet_time/60).to_i %>
                <% tweet_time_h = (tweet_time_m/60).to_i %>
                <% tweet_time_h_m = tweet_time_m%60 %>
                <% tweet_time_h = (tweet_time_m/60).to_i %>
                
                <% if tweet_time_m < 60 %>
                    <%= (tweet_time / 60).to_i.to_s + "m" %>
                <% else %>
                    <%= tweet_time_h.to_s+ "h"+ tweet_time_h_m.to_s + "m" %>
                <% end %>
            <hr>
            </div>
            <% end %>
        </div>
    </div>
    


    


